/* Auth.css */

.auth-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container .form-group {
  margin-bottom: 15px;
}

.auth-container .form-group label {
  font-weight: bold;
}

.auth-container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 20px;
  text-align: center;
}

.auth-container p a {
  color: #007bff;
  text-decoration: none;
}

.auth-container p a:hover {
  text-decoration: underline;
}

/* Register.css */

.register-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container .form-group {
  margin-bottom: 15px;
}

.register-container .form-group label {
  font-weight: bold;
}

.register-container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-container button:hover {
  background-color: #0056b3;
}

.register-container p {
  margin-top: 20px;
  text-align: center;
}

.register-container p a {
  color: #007bff;
  text-decoration: none;
}

.register-container p a:hover {
  text-decoration: underline;
}
