* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(to right, #fff4e4 0%, #ffe3d9 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center fixed;
}
body {
  min-height: 100vh;
}
.smokeBox {
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;
  mix-blend-mode: screen;
  transform: rotate(180deg) scaleX(-1);
  position: fixed;
  filter: brightness(1.2) contrast(1.4) saturate(1.8);
  top: 0;
  left: 0;
  z-index: -1;
}
.smokeBox img {
  width: 100%;
}
