/* Auth.css */

.auth-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 0 22px rgba(35, 0, 35, 0.5) inset;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(45deg, rgb(239, 249, 254), rgb(253, 230, 255));
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(34, 0, 34, 0.5);
}

.auth-container .form-group {
  margin-bottom: 15px;
}

.auth-container .form-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.auth-container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: all ease-in-out 0.2s;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 20px;
  text-align: center;
}

.auth-container p a {
  color: #007bff;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.auth-container p a:hover {
  text-decoration: underline;
}

/* Register.css */

.register-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 0 22px rgba(35, 0, 35, 0.5) inset;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(45deg, rgb(239, 249, 254), rgb(253, 230, 255));
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(34, 0, 34, 0.5);
}

.register-container .form-group {
  margin-bottom: 15px;
}

.register-container .form-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.register-container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: all ease-in-out 0.2s;
}

.register-container button:hover {
  background-color: #0056b3;
}

.register-container p {
  margin-top: 20px;
  text-align: center;
}

.register-container p a {
  color: #007bff;
  text-decoration: none;
}

.register-container p a:hover {
  text-decoration: underline;
}

.loginregcont {
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginregcont p {
  padding: 12px;
  background-color: rgba(230, 230, 230, 0.821);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.loginregcont a {
  text-decoration: none;
  padding: 4px 8px;
  background-color: rgb(255, 77, 0);
  border-radius: 30px;
  margin-left: 12px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all ease-in-out 0.2s;
  text-transform: capitalize;
}
.loginregcont a:hover {
  letter-spacing: 2px;
}
.logoutBtn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 16px;
  display: flex;
  gap: 5px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(45deg, blue, purple);
  color: white;
  transition: all ease-in-out 0.2s !important;
  box-shadow: 0 0 6px rgb(231, 231, 231) inset;
}
.logoutBtn:hover {
  transform: translateY(1px) scale(0.99);
  background-image: linear-gradient(45deg, purple, blue);
}
.heading{
  text-transform: capitalize;
}

.register-container input, .auth-container input{
  border-radius: 22px !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
  padding: 14px !important;
}