.hero-container {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.hero {
  position: relative;
}
.hero-head {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  color: rgba(255, 255, 255, 0.95);
  transform: scale(1.3);
  width: 100%;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  text-shadow: 4px 10px 5px rgb(67, 27, 0);
  -webkit-text-stroke: 1px rgb(252, 252, 252);
}
.chef-image {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  image-rendering: crisp-edges;
  border-radius: 0 0 60px 60px;
  box-shadow: 0 0 20px rgb(25, 0, 35);
}

.hero-buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.order-button,
.menu-button {
  text-decoration: none !important;
  padding: 10px 30px;
  margin: 0 28px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid rgba(58, 150, 255);
  background-color: rgba(0, 57, 121, 0.616);
  backdrop-filter: blur(4px);
  color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
}

.menu-button {
  border: 2px solid #00c807;
  background-color: #0056039b;
}

.hero-buttons button:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .chef-image {
    width: 250px;
  }
  .hero-image {
    height: 400px;
  }
  .order-button,
  .menu-button {
    padding: 10px 20px;
    font-size: 11px;
    margin: 0;
  }
  .hero-head {
    transform: scale(1);
  }
  .card-container {
    margin-top: 400px !important;
    padding: 0 !important;
  }
}

/* RecipeCards.css */

.card-container {
  margin-top: 450px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Add any other styles for responsiveness */
}

.card {
  cursor: pointer;
  background-image: linear-gradient(45deg, #00d2cb4b, #005aec4d);
  border-radius: 20px;
  box-shadow: 0px 0px 18px rgba(43, 0, 30, 0.6) inset;
  padding: 20px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.icon {
  height: 5rem;
  width: 5rem;
  background-color: rgb(211, 251, 255);
  box-shadow: 0 0 8px rgb(67, 19, 0) inset;
  border-radius: 100px;
  font-size: 3rem;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(255, 88, 32);
  transition: all 0.3s ease-in-out;
}
.card:hover .icon {
  transform: scale(1.1) rotate(10deg) translateY(-5px);
}
.tagline {
  font-size: 1rem;
  color: #ffffff;
  width: 70%;
  margin-bottom: 10px;
  background-color: rgba(0, 15, 88, 0.3);
  padding: 4px 18px;
  border-radius: 20px;
  box-shadow: 0 0 5px black inset;
}
